<div style="padding: 10px 10px 10px 10px">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span *ngIf="!pid">Add Product</span>
                <span *ngIf="pid">Update Product</span>
            </h4>
            <div style="float: right; padding-top: 20px;">
                <a href="javascript:void(0)" [routerLink]="['/products/list']">List Products</a>
            </div>
        </div>
        <div class="panel-body">

            <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm)" novalidate>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" formControlName="title" placeholder="Product Name" class="form-control" [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }"
                    />
                    <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                        Invalid Data found
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" formControlName="description" placeholder="Product Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" min="0" (keyup)="checkVal($event, price.value)" #price formControlName="price" placeholder="Product Cost"
                        class="form-control" [ngClass]="{ 'is-invalid': f.price.touched && f.price.errors }" />
                    <div *ngIf="f.price.touched && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.touched && f.price.errors.required">Price is required</div>
                    </div>

                    <div *ngIf="priceError==1" class="invalid-feedback">
                        Negetive value not accepted
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" *ngIf="!pid" [disabled]="addProductForm.invalid">Add Product</button>
                    <button type="submit" class="btn btn-primary" *ngIf="pid" [disabled]="addProductForm.invalid">Update Product</button>
                </div>
            </form>
        </div>
    </div>

</div>