<div style="padding: 10px 10px 10px 10px">
  
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            Add Product
            </h4>
            <div style="float: right; padding-top: 20px;"><a href="javascript:void(0)" [routerLink]="['/products/list']">List Products</a></div>
        </div>
        <div class="panel-body">
            
            <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm)" novalidate>
              <div class="form-group">
                  <label>Title</label>
                  <input type="text" formControlName="title" placeholder="Product Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                      <div *ngIf="f.title.errors.required">First Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Description</label>
                  <input type="text" formControlName="description" placeholder="Product Description" class="form-control" />
              </div>
              <div class="form-group">
                  <label>Price</label>
                  <input type="text" formControlName="price" placeholder="Product Cost" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                      <div *ngIf="f.price.errors.required">Price is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
        </div>
    </div>
  
</div>